*{
	margin:0;
	padding:0;
	box-sizing: border-box;  
}

html,body,#app {
	height: 100%;
	width: 100%;
}
html,body{
	overflow-y: hidden;
	min-width: 1200px;
}
.el-main{
	height: 100vh;
	overflow: scroll;
	padding-bottom: 150px;
}
.el-breadcrumb{
	margin-bottom: 15px;
	font-size: 12px;
}